<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab2.Properties.Settings.ComputerPartsWharehouseManagementConnectionString"
            connectionString="Data Source=DON-COPSI-PC\SQLEXPRESS;Initial Catalog=ComputerPartsWharehouseManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
      <appSettings>

        <!-- Producer and Monitor -->
        <!--<add key="parent_table_name" value="Producer"/>
        <add key="parent_table_primary_key" value="producer_name"/>
        <add key="child_table_name" value="Monitor"/>
        <add key="child_table_foreign_key" value="producer"/>-->

        <!-- Producer and Processor -->
        <!--<add key="parent_table_name" value="Producer"/>
        <add key="parent_table_primary_key" value="producer_name"/>
        <add key="child_table_name" value="Processor"/>
        <add key="child_table_foreign_key" value="producer"/>-->
        
        
        <!-- Motherboard and CPU_Socket -->
        <add key="parent_table_name" value="CPU_Socket"/>
        <add key="parent_table_primary_key" value="socket_type"/>
        <add key="child_table_name" value="Motherboard"/>
        <add key="child_table_foreign_key" value="socket_type"/>
        
      </appSettings>
  
</configuration>